<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8935be67-6033-4f1a-a893-7884177b44df/resourceGroups/panconResourceGroup/providers/Microsoft.Web/sites/pancon-mobile-app</ResourceId>
    <ResourceGroup>panconResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pancon-mobile-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>pancon-mobile-app.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pancon-mobile-app</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$pancon-mobile-app</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:pancon.database.windows.net,1433;Initial Catalog=panconDatabase;User ID=panconAdmin@pancon;Password=AzureDb2019!" Name="Data Source=tcp:pancon.database.windows.net,1433;Initial Catalog=panconDatabase;User Id=panconAdmin@pancon;Password=AzureDb2019!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MobileBackend.Models.ApplicationDbContext, MobileBackend" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="panconDatabaseEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=pancon.database.windows.net;Initial Catalog=panconDatabase;User ID=panconAdmin;Password=AzureDb2019!;Application Name=EntityFramework" Name="Data Source=pancon.database.windows.net;Initial Catalog=panconDatabase;User ID=panconAdmin;Password=AzureDb2019!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MobileBackend.DataAccess.panconDatabaseEntities, MobileBackend" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pancon.database.windows.net,1433;Initial Catalog=panconDatabase;User Id=panconAdmin@pancon;Password=AzureDb2019!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)panconDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataAccess.panconDatabase.csdl|res://*/DataAccess.panconDatabase.ssdl|res://*/DataAccess.panconDatabase.msl;provider=System.Data.SqlClient;provider connection string="Data Source=pancon.database.windows.net;Initial Catalog=panconDatabase;User ID=panconAdmin;Password=AzureDb2019!;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pancon.database.windows.net,1433;Initial Catalog=panconDatabase;User Id=panconAdmin@pancon;Password=AzureDb2019!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PanconDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/PanconDatabaseModel.csdl|res://*/PanconDatabaseModel.ssdl|res://*/PanconDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:pancon.database.windows.net,1433;Initial Catalog=panconDatabase;User Id=panconAdmin@pancon;Password=AzureDb2019!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>